
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fcfcfc;
  font-family: 'Roboto', sans-serif;
}

.textarea {
  display: block;
  padding: 0;
  margin: 10vh auto;
  resize: none; 
  height: 300px; 
  width: 300px;
}
